<h1 align='center' style='margin-bottom: .5em;'>Users List</h1>

<div align="center">
  <%= will_paginate %>
</div>

<%= render "/users/list_users", obj: @users %>

<div align="center">
  <%= will_paginate %>
</div>