@import "bootstrap-sprockets";
@import "bootstrap";

.nav {
  float:left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.nav:hover {
  color: black;
}

.title {
  font-weight: bold;
  letter-spacing: -2px;
  margin-top: 1em;
  color: inherit;
  text-shadow: #FC0 1px 0 10px;
}

.jumbotron {
  background-image: asset-url('dark-sunset-on-the-beach-x3.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
  text-align: center;
}

.alpha-btn {
  background-color: black;
  border-color: #FC0;
  color: white;
}

.alpha-btn:hover {
  background-color: #333333;;
  border-color: #b20000;
}

.footer {
  border-top: 1px solid #eaeaea;
  color: #777
}

.footer:hover {
  color: #222;
}

.article-title {
  color: blue;
  font-size: large;
  font-weight: bold;
  margin-bottom: .4em;
}

.article-body {
  margin-bottom: .4em;
}

.field {
  autocomplete: off
}
